/* Extensions should supply the minimum amount of styling
 * necessary. Here, the extensions set only their colors.
 * Their sizes and other general features of their display
 * is controlled by the slot. */
@use "@carbon/layout";
@use '@openmrs/esm-styleguide/src/vars' as *;

.brand {
  @include brand-01(background-color);
  color: white;
  padding: layout.$spacing-03;
}

.gray {
  background-color: rgb(148, 110, 110);
}
